<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home | Football Standings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>Football Standings</h1>
      <nav>
        <a href="/premierleague">Premier League</a>
        <a href="/laliga">LALIGA</a>
        <a href="/seriea">Serie A</a>
      </nav>
    </header>

    <div class="container">
      <section class="profile">
        <img
          src="{{ url_for('static', filename='img/profile.png') }}"
          alt="My Photo"
        />
        <div class="profile-info">
          <h2>Raply</h2>
          <p>
            <strong>Mahasiswa Sistem Informasi</strong><br />UIN Imam Bonjol
            Padang
          </p>
          <p>
            Saya sedang mengembangkan website untuk menampilkan klasemen Liga
            Inggris dan Spanyol menggunakan Flask dan RapidAPI.💥⚽.
          </p>
        </div>
      </section>
    </div>
  </body>
</html>
