<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Serie A Standings</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4 text-center">Serie A Standings</h1>
      <div class="text-left mb-4">
        <a href="/" class="btn btn-secondary">Home</a>
      </div>
      <table class="table table-bordered table-striped shadow">
        <thead class="table-dark">
          <tr>
            <th>Position</th>
            <th>Club</th>
            <th>Played</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Draws</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          {% for i in klasemen %}
          <tr>
            <td>{{ i.stats.rank }}</td>
            <td>
              <img src="{{ i.team.logo }}" alt="logo" width="30" /> {{
              i.team.name }}
            </td>
            <td>{{ i.stats.gamesPlayed }}</td>
            <td>{{ i.stats.wins }}</td>
            <td>{{ i.stats.losses }}</td>
            <td>{{ i.stats.ties }}</td>
            <td>{{ i.stats.points }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
